#next_resource {
  border: 1px solid #DDD;
  border-radius: 5px;
  background-color: #F1F1F1;
  padding: 10px;
	margin-bottom: 5px;
}

.form_title {
	font-size: 24px;
	font-family: inherit;
	font-weight: 500;
	color: inherit;
	margin: 5px 0;
}

.controls input, select {
	margin-bottom: 5px;
}

.alert-text {
  font-size: 16px;
}

.next-resource-control-label {
  font-weight: bold;
}

select#next-resource-area {
	width: auto;
}
